<!--
Source - https://stackoverflow.com/a/995325
Posted by Dominic Mitchell, modified by community. See post 'Timeline' for change history
Retrieved 2026-05-15, License - CC BY-SA 3.0
-->

.classpath
.project
.settings/
target/
